*{
    background-color: rgb(221, 223, 222);
}
body{
    margin: 20px 30px;
    padding: 2px 10px ;
}
.header{
       background-color: green;
       border-radius: 40px;
       width: 10px  20px ;
      display: flex;
    align-items: center;
 
}

.navlist ul{
   
      border-radius: 20px;
      list-style-type: none;
      margin: 0;
      padding: 0;
}
.navlist ul li{
 background-color:green;
    display: inline-block;
    padding:  0  20px ;

   text-align: center;
   /* color: white; */
}
#logo{
    width: 5%;
    display: inline-block;
    border-radius: 50%;
}
#contact{
background-color: white;
border-radius: 30px;
}

#texts h4{
    font-size: 40px;
    font-weight: 600;
}
.btn button {
    border-radius: 30px;
    padding: 10px;
}
#btn1  {
color: whitesmoke;
background-color: green;
}

 #btn2{
    color:black;
}